<header class="site-header">
  <div class="header-inner">
    <div class="site-title">
      <h1>Robot Mechanism and <br> System Integration Lab.</h1>
      <h2>Seino Lab. <br> Faculty of Symbiotic Systems Science, Fukushima University</h2>
    </div>

    <nav class="main-nav">
      <a href="{{ '/en/' | relative_url }}">Home</a>
      <a href="{{ '/en/#about' | relative_url }}">About</a>
      <a href="{{ '/en/#news' | relative_url }}">News</a>
      <a href="{{ '/en/research.html' | relative_url }}">Research</a>
      <a href="{{ '/en/members.html' | relative_url }}">Members</a>
      <a href="{{ '/en/publication.html' | relative_url }}">Publications</a>
      <a href="{{ '/en/teaching.html' | relative_url }}">Teaching</a>
      <a href="{{ '/en/contact.html' | relative_url }}">Contact</a>
    </nav>

    <div class="lang-switch">
      <a href="{{ page.lang_url | relative_url }}">JA</a>
      <span class="active">EN</span>
    </div>
  </div>
</header>
