<header class="site-header">
  <div class="header-inner">
    <div class="site-title">
      <h1>Robot Mechanism and <br> System Integration Lab.</h1>
      <h2>福島大学共生システム理工学類　情野研究室</h2>
    </div>

    <nav class="main-nav">
      <a href="{{ '/' | relative_url }}">Home</a>
      <a href="{{ '/#about' | relative_url }}">About</a>
      <a href="{{ '/#news' | relative_url }}">News</a>
      <a href="{{ '/research.html' | relative_url }}">Research</a>
      <a href="{{ '/members.html' | relative_url }}">Members</a>
      <a href="{{ '/publication.html' | relative_url }}">Publications</a>
      <a href="{{ '/teaching.html' | relative_url }}">Teaching</a>
      <a href="{{ '/contact.html' | relative_url }}">Contact</a>
    </nav>

    <div class="lang-switch">
      <span class="active">JA</span>
      <a href="{{ page.lang_url | relative_url }}">EN</a>
    </div>
  </div>
</header>
